[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
brotlipy = "*"
brotli = "*"

[dev-packages]
falcon = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
build = "*"

[requires]
python_version = "3.11"
